<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <p>The website is currently under maintenance</p>
    <p>Will be right back</p>
    {{> footer}}
  </body>
</html>
